name: Test

on: push

# on:
#   workflow_dispatch:
#   repository_dispatch:
#     types: ["manual_trigger"]


jobs:

  test_system_self_test:
    runs-on: ubuntu-latest

    services:
      kafkatest:
        image: petermeissner/kafkatest
        ports:
          - "2181:2181"
          - "9092:9092"

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1

      - name: Check if zookeeper is up and running
        run: |
           until echo "srvr" | nc localhost 2181 | grep -e "Zookeeper version: " -c ; do echo "waiting"; sleep 1; done
           echo "srvr" | nc localhost 2181

      - name: Install system dependencies
        run: |
          apt-get install libcurl4-openssl-dev

      - name: Install R dependencies
        run: |
          install.packages(c("remotes", "rcmdcheck"))
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Check
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}
